*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
}

.min-width{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}
.min-width section{
    width: 27%;
    min-height: 30vh;
    
}
.min-width .flex1{background-color: antiquewhite;}
.min-width .flex2{background-color: blueviolet;}
.min-width .flex3{background-color: darkcyan;}


@media (max-width:418px){
    .min-width{
        display: flex;
        flex-direction: column;
    }
    .min-width section{
        width: 95%;
        margin: 10px auto;
    }
}